.DS_Store
../ai_lab/DropSeq/HCC1806_Filtered_Normalised_3000_Data_train.txt
../ai_lab/DropSeq/MCF7_Filtered_Normalised_3000_Data_train.txt
../ai_lab/SmartSeq/HCC1806_SmartS_Filtered_Data.txt
../ai_lab/SmartSeq/HCC1806_SmartS_Filtered_Normalised_3000_Data_train.txt
../ai_lab/SmartSeq/HCC1806_SmartS_MetaData.tsv
../ai_lab/SmartSeq/HCC1806_SmartS_Unfiltered_Data.txt
../ai_lab/SmartSeq/MCF7_SmartS_Filtered_Data.txt
../ai_lab/SmartSeq/MCF7_SmartS_Filtered_Normalised_3000_Data_train.txt
../ai_lab/SmartSeq/MCF7_SmartS_MetaData.tsv
../ai_lab/SmartSeq/MCF7_SmartS_Unfiltered_Data.txt